<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRLib.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=localhost:1521/XE;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=HR"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>