<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ReportExecutionServiceSoap" >
                     <security mode="TransportCredentialOnly">
                     </security>
              </binding>
            
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ssrs.objectmage.com:80/ReportServer/ReportExecution2005.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
                contract="RS.ReportExecutionServiceSoap" name="ReportExecutionServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>